
body
{
  font-family: "Montserrat";
  text-align: center;
}
h1, h2 , h3, h4, h5, h6
{
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #8f8f8f;
}

/* HEADING */
.big-heading
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* CONTAINERS */
.container-fluid
{
 padding:7% 15%;
}

/* SECTIONS */
.colored-section
{
  background-color: red;
  color: white;
}
.white-SECTION{
background-color: white;
}
/* NAVIGATION BAR */
.navbar
{
  padding:0 0 4.5%;
}

.navbar-brand
{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar-item
{
  padding: 0 18px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* DOWNLOAD BUTTON */
.download-button{
  margin: 5% 3% 5% 0;
}

/* TITLE SECTION */

#title
{
  text-align: left;
}

#title .container-fluid
{
  padding: 3% 15% 7%;
}
/* TITLE IMAGE */

.title-image
{
  width: 75%;

  /*
 transform: rotate(25deg);

position: absolute;
*/
}

 /* FETURES SECTION */

#features{
  /*
  z-index: 1;
  position: relative;
  */
}
.features-title
{
font-size: 1.5rem;
}

.feature-box
{
  padding: 5%;
}

/* Icon */

.icon{
  color: red;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ec0101;
}

/* TESTIMONIALS SECTION */

.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5;
}
 .testimonial-image
{
  width: 20%;
border-radius: 100%;
margin: 20px;
}

 #press{
   background-color: red;
   padding: 3%;
 }
.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

/* FORM SECTION */
.form-signin
{
  width: 100%;
  margin: auto;
}
form {
    display: block;
}

/* CTA section */


/*
@media (max-widht: 820px) {
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0);
  }
}
*/

.social-icon
{
  margin: 20px 10px;
}

.form
{
   padding: 7% 15%;
}
